#Build Directories
build


#Caches
.cache

#Data Aqusition Scripts
scripts/fetch_assets.sh


# macOS
.DS_Store


# Python
.venv
__pycache__/
*.pyc


# Generated training data / weights
artifacts/
*.bin


